

.cart-content {
    max-height: 300px;
    color: #4A4949;
    background: #FFD700; /* Gold */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Add this line */
}

.logo{
    position:absolute;
    height: 150px;
    left: 10px;
    width: 400px;
    padding: 5px 20px;
    margin-top: -38px;
}
